* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #474747;
    line-height: 1.6em;
    word-wrap: break-word;
}

/* Decorate */
img {
    width: 100%;
}

h1 {
    font-size: 42px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    font-weight: 700;
}

h3 {
    font-size: 30.8px;
    font-weight: 700;
}

h4 {
    font-size: 19.6px;
    font-weight: 700;
}

.font-w-7 {
    font-weight: 700;
}

a.btn {
    display: inline-block;
    padding: 10px 18px;
    font-size: 14px;
    border: solid 1px;
    background-color: #DE6F38;
    border-color: #DE6F38;
    color: #ffffff;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
}

.c-yellow {
    color: #ffd812;
}

.c-glay {
    color: #58747a;
}

.c-lightBlue {
    color: #eaffff;
}

.bac-c-or {
    background-color: #DE6F38;
}

.bac-c-b {
    background-color: #256492;
}

.bac-c-lightPink {
    background-color: #fff7f2;
}

.bac-c-black {
    background-color: #121913;
}

.bac-c-LightBlue {
    background-color: #93c0e7;
}

.border-b {
    border-bottom: solid 1px #a8a8a8;
}

.btn.penetrate {
    background-color: transparent;
    border-color: #151618;
    color: #151618;
}

.flex_order1 {
    order: 1;
}

.flex_order2 {
    order: 2;
}

.m-l-4 {
    margin-left: 4%;
}

.m-l-7 {
    margin-left: 7%;
}

.m-l-10 {
    margin-left: 10%;
}

.enter_anime_before {
    transform: translate(0, 50px);
    opacity: 0;
}

.enter_anime_before.enter_anime_after {
    transition: 0.8s;
    transform: translate(0, 0);
    opacity: 1;
}

.mbVer {
    display: none;
}

body {
    background-color: #ffffff;
}

.wrapper {
    width: 1140px;
    max-width: 95%;
    margin: auto;
    box-sizing: border-box;
}

/* header */
#header {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}


.container-title {
    flex: 1;
}

.container-content {
    flex: 2;
}

#header .container-content .flex_item {
    display: block;
    flex: 1;
}

#header .container-content .flex_item.item_img {
    text-align: end;
}

#header .container-content .flex_item.item_img svg {
    padding-top: 7%;
    padding-right: 20%;
}

#header .title {
    display: flex;
}

#header .title h2 {
    line-height: 40px;
}

#header .subtitle {
    font-size: 20px;
    padding-top: 5px;
    line-height: 1.75;
    box-sizing: border-box;
}

#header .flex_container {
    display: flex;
}

#header .flex_item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#header .flex_item p {
    font-size: 14px;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-align: left;
}

/* banner */
.banner .aspect-ratio {
    width: 100%;
    padding-top: 50%;
    position: relative;
}

.banner .aspect-ratio img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(40%);
}

.banner .container {
    position: relative;
}

.banner .caption {
    position: absolute;
    top: 30%;
}

.banner .caption span {
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
    border-bottom: 3px solid #fff;
}

.banner .btn {
    position: absolute;
    bottom: 30%;
}

.banner .btn.penetrate {
    background-color: #ffffff;
    opacity: .7;
}

/* about */
.about {
    padding: 24px 0;
}

.about .container {
    display: flex;
    justify-content: space-between;
    margin: 56px 0;
}

.about .text {
    flex: 1;
}

.about .text h1 {
    position: relative;
    margin: 0 0 20px;
    padding: 0 0 15px;
}

.about .text h1::after {
    display: block;
    background-color: #256492;
    position: absolute;
    bottom: 0;
    content: "";
    width: 15%;
    height: 5px;
    border-radius: 3px;
}

.about .text ul {
    margin-bottom: 30px;
}

.about .text ul li {
    margin: 17.5px 0;
    font-size: 17.5px;
    line-height: 1.75;
}

.about .text ul li::before {
    content: "。";
    margin-right: 10px;
}

.about .aspect-ratio {
    width: 100%;
    padding-top: 30%;
    position: relative;
}

.about .img {
    flex: 1;
}

.about .aspect-ratio img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* byTheWay */
.byTheWay {
    background-image: url("../Data/IMG/019.jpg");
    background-attachment: fixed;
    opacity: .9;
    padding: 80px 0;
    text-align: center;
}

.byTheWay h3 {
    color: #ffffff;
    padding: 0 0 40px;
}

.byTheWay p {
    color: #ffffff;
    font-size: 19.6px;
}

.byTheWay a {
    color: #DE6F38;
    font-weight: 700;
}

/* cooperate Brand */

.brand_container {
    width: 800px;
    max-width: 95%;
    margin: auto;
    padding: 80px 0 0;
}

#brand .center {
    text-align: center;
    margin-bottom: 30px;
}

#brand .center h3 {
    display: inline-block;
    position: relative;
    margin: 0 0 20px;
    padding: 0 0 15px;
}

#brand h3::after {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -15%;
    bottom: 0;
    content: "";
    background-color: #de6f38;
    width: 30%;
    height: 5px;
    border-radius: 3px;
}

.brand_container .brand_flex {
    display: flex;
    flex-wrap: wrap;
}

.brand_container .brand_flex .card {
    position: relative;
    width: 33.3%;
    padding-top: 33.3%;
    border: none;
    transition: 0.8s;
}

.brand_container .brand_flex .card:hover {
    background-color: #000000;
}

.brand_container .brand_flex .card .brand_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    background-color: #000000;
    opacity: .7;
}

.brand_container .brand_flex .card .brand_name {
    display: flex;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.brand_container .brand_flex .card .brand_name.hover {
    top: 49%;
}

.brand_container .brand_flex .card .brand_name .img {
    width: 20%;
    padding-top: 20%;
    position: relative;
    border-radius: 25%;
    overflow: hidden;
}

.brand_container .brand_flex .card .brand_name .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand_container .brand_flex .card .brand_name .text {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 1.5rem;
    transition: .4s;
}

.brand_container .brand_flex .card .text.hoverRemind {
    width: 60%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    font-size: 1rem;
    transition: .4s;
    text-align: center;
    border-bottom: solid 1px;
}

.darkBlue_item {
    background-color: #182e57;
}

.beige_item {
    background-color: #fffaf4;
}

.brand_container .brand_flex .card.darkBlue_item .text {
    color: #fffaf4
}

.brand_container .brand_flex .card.beige_item .text {
    color: #182e57;
}

.brand_container .brand_flex .card .text.hoverTextColor {
    color: #fffaf4;
    font-size: 1.8rem;
    transition: .4s;
}

.brand_container .brand_flex .card .text.hoverRemind.hoverTextColor {
    font-size: 1.2rem;
}

/*personality */
#personality {
    padding: 80px 0;
}

#personality .center {
    text-align: center;
    margin-bottom: 80px;
}

#personality h3 {
    display: inline-block;
    position: relative;
    margin: 0 0 20px;
    padding: 0 0 15px;
}

#personality h3::after {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -15%;
    bottom: 0;
    content: "";
    background-color: #256492;
    width: 30%;
    height: 5px;
    border-radius: 3px;
}

#personality .item {
    line-height: 1.75;
    text-align: center;
}

#personality .item p {
    color: #ffffff;
    font-size: 17.5px;
    text-align: left;
}

.slick {
    width: 800px;
    max-width: 100%;
    margin: auto;
}

.card {
    position: relative;
    width: 640px;
    max-width: 100%;
    box-sizing: border-box;
    margin: auto;
    border: rgb(223 201 201) ridge 3px;
    -webkit-box-shadow: 5px 5px 6px -5px rgb(0 0 0 / 40%);
    box-shadow: 5px 5px 6px -5px rgb(0 0 0 / 40%);
}

.card .aspect-ratio {
    width: 100%;
    padding-top: 70%;
    position: relative;
}

.card .aspect-ratio img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .icon {
    width: 30%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    transform-origin: center;
    z-index: 2;
}

.card .icon .frame {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-radius: 25%;
    overflow: hidden;
}

.card .icon .frame.widthVer {
    width: 120%;
}

.card .icon .frame.heightVer {
    padding-top: 107%;
}

.card .icon .frame img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card span {
    width: 100%;
    display: block;
    padding: 3%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transform-origin: center;
    color: #fffaf4;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    opacity: .7;
}
.card span.positive {
    background: #120505;
}
.card span.communicate {
    background: #0b1205;
}
.card span.investigative {
    background: #050e12;
}

/* footer */
.footer {
    padding: 80px 0;
    background-color: #1c1d1f;
}

.footer .container .item {
    flex: 1;
}

.footer h2 {
    color: #ffffff;
    margin-bottom: 35px;
}

.footer p {
    font-size: 17.5px;
    color: #a8a8a8;
    margin-bottom: 30px;
    line-height: 1.75;
}

.footer h4 {
    color: #ffffff;
    margin-bottom: 50px;
}

.footer ul li {
    font-size: 14px;
    color: #a8a8a8;
    margin-bottom: 10px;
    padding: 10px 0 15px 5px;
}

/* floor */
#floor {
    width: 100%;
    background-color: #151618;
}

.footer .container {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

#copyright {
    padding: 20px 0;
    color: #a8a8a8;
    font-size: 17.5px;
}


.popupBg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none
}

.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 480px;
    width: 65%;
    cursor: pointer
}

.popup_closeBtn {
    position: absolute;
    top: -4%;
    right: -4%;
    color: #fff;
    font-size: 1.5rem
}


.popupBg .popup_closeBtn {
    top: -10%;
    right: -7.5%;
    font-size: 3rem
}

.brandLsit {
    background-color: #ffffff;
    padding: 30px 5px 10px 40px;
    border: rgb(223 201 201) ridge 3px;
    -webkit-box-shadow: 5px 5px 6px -5px rgb(0 0 0 / 40%);
    box-shadow: 5px 5px 6px -5px rgb(0 0 0 / 40%);
}

.checkmark__item {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 30px;
    flex-basis: auto;
}

.checkmark__item img {
    display: inline-block;
    width: 1.5rem;
    margin-right: 1rem;
    vertical-align: bottom;
}

.checkmark__item a:hover {
    padding: 6px;
}

/* 手機 */
@media screen and (max-width:768px) {
    .mbVer {
        display: block;
    }

    .pcVer {
        display: none;
    }

    .wrapper {
        padding: 10%;
        padding-top: 0%;
        padding-bottom: 0%;
    }

    /* header */
    #header {
        display: block;
        text-align: center;
    }

    #header .pcVer {
        display: none;
    }

    #header .container-contact {
        margin-bottom: 12px
    }

    #header .title {
        display: block;
    }

    #header .title h2 {
        font-size: 28px;
    }

    #header .container-contact {
        margin-top: 10%;
    }

    #header .flex_item.cellphone,
    #header .flex_item.email,
    #header .flex_item.time {
        display: none;
    }

    #header .container-content .flex_item.item_img {
        text-align: center;
    }

    /* banner */

    .banner .caption span {
        font-size: 28px;
    }

    /* about */
    .about .container {
        display: block;
        margin-bottom: 10%;
    }

    .about .m-l-7 {
        margin-left: 0;
    }

    .about .aspect-ratio {
        padding-top: 61%;
    }

    .about .container .text {
        background-color: #ffffff;
    }

    .about .text ul li::before {
        content: "";
        margin-right: 0;
    }

    .about .text ul li {
        text-align: justify;
    }

    /* byTheWay */
    .byTheWay {
        padding: 10%;
        padding-top: 80px;
        padding-bottom: 80px;
        line-height: 30px;
    }

    /* cooperate Brand */
    .brand_container .brand_flex .card {
        width: 85%;
        padding-top: 70%;
    }

    /* personality */
    #personality .item {
        margin-bottom: 10%;
    }

    #personality .center {
        margin-bottom: 0;
    }

    .card span {
        font-size: 1.5rem;
    }

    /* footer */
    .footer .container {
        display: block;
        width: 100%;
    }

    .footer .container .item {
        margin-bottom: 20%;
    }

    .footer .container .item.m-l-10 {
        margin-left: 0;
    }

    .footer h4 {
        margin-bottom: 5%;
    }

    .brandLsit {
        padding: 5px;
        padding-top: 10px;
    }

    .brandLsit .checkmark__item {
        width: auto;
    }

    .checkmark__item {
        font-size: 1.2rem;
        margin-bottom: 20px;
        padding-right: 20px;
    }
}